.button {
    @include font ($size: 1.5rem, $height: 2.2rem, $weight: bold);
    padding: 5px 10px;
    border-radius: 18px;
    border: 2px solid $color-primary;
}

.button_bordered {
    background-color: $color-light;
    color: $color-text-primary;
}

.button_colored {
    background-color: $color-primary;
    color: $color-light;
}