$color-primary: #894083;
$color-background: #FFFFFF;
$color-background-dark: #F2F2F2;
$color-text: #181717;
$color-text-light: #828282;
$color-text-primary: #894083;
$color-light: #FFFFFF;
$color-hovered: #FF8600;

$color-yellow: #FDCA33;
$color-green: #8DC63F;
$color-blue: #00C2CE;

$content-width: 1600px;
$tablet-width: 768px;
$mobile-width: 414px;